@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./Box.css');
@import url('./Figure.css');
@import url('./Forms.css');
@import url('./Response.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/IMG/imgcasamentoBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}


footer {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

.password-container {
    position: relative;
}

.password-input-wrapper {
    position: relative;
}

.password-input-wrapper input {
    padding-right: 35px; 
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    z-index: 2;
}

.toggle-password:hover {
    color: #333;
}   

