.login-box {
    background-color: #ffffff;
    padding: 60px 40px;
    border: none;
    border-radius: 20px;
    min-height: 578px;
    min-width: 440px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.479); 
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    position: static;
}